.jahborder {
  border: 4px solid black;
  padding: 10px;
}
.wrap {
    width: 100%;
}

.floatleft {
  float: left;
      background-color: #7195ce;
      width: 50%;
}

.floatright {
float: right;
    background-color: #bccce5;
    width: 50%;
}
body {
  background-image: url("http://thinkdifferentlyaboutsheep.weebly.com/uploads/1/0/9/7/10978093/3335286_orig.gif");
  background-repeat: no-repeat;
  background-position: 45% 150%;
  }
